@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #171817;
    --primary-light: #3D3E3D;
    --primary-dark: #0F0F0F;
    --secondary: #F37C65;
    --secondary-light: #FFAD93;
    --secondary-dark: #BC4D3A;

    --primary-text: #FFFFFF;
    --secondary-text: #000000;

    --border-radius: 20px;
    --btn-radius: 50px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.btn {
    border-radius: var(--btn-radius);
    padding: 10px;
    background-color: var(--primary-light);
    color: var(--primary-text);
    cursor: pointer;
}

.btn.active {
    background-color: var(--secondary-dark);
    color: var(--primary-text);
}

.btn:hover {
    background-color: var(--secondary-light);
    color: var(--secondary-text);
}

body {
    background-color: var(--primary-dark);
    position: relative;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

#rectangulo-1 {
    position: fixed;
    content: '';
    top: 0;
    width: 70%;
    height: 100vh;
    background-color: var(--primary);
    transition: all 1s;
    animation-duration: 1s;
    animation-name: primary;
    z-index: -1;
}

@keyframes primary {
    0% {
        width: 50%;
    }
    100% {
        width: 70%;
    }
}

#rectangulo-2 {
    position: fixed;
    content: '';
    top: 0;
    width: 10%;
    height: 100vh;
    background-color: var(--primary);
    transition: all 1s;
    animation-duration: 1s;
    animation-name: second;
    z-index: -1;
}

@keyframes second {
    0% {
        right: 0;
    }
    100% {
        right: -10%;
    }
}

menu {
    position: fixed;
    z-index: 999;
    width: 300px;
    padding: 15px 0px;
    margin: 0px 15%;
}

menu nav {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 0px;
    height: 0px;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 0px;
    background-color: var(--secondary);border-radius: var(--border-radius);
    transition: all .5s;
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

menu nav.mostrar {
    left: -130px;
    top: 55px;
    width: 300px;
    height: calc(100vh - 89px);
    border-radius: var(--border-radius);
}

menu nav li {
    width: 100%;
    min-width: 150px;
    list-style: none;
    opacity: 0;
    transition: opacity 1s;
}

menu nav.mostrar li {
    opacity: 1;
}

menu nav li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 15px;
    color: var(--secondary-text);
}

code {
    color: var(--secondary);
}

section {
    width: 70%;
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    scroll-snap-align: center;
}

section#main {
    grid-template-columns: 1fr 1fr;
}

section p {
    color: var(--primary-text);
}

section h1 {
    color: var(--secondary);
    font-size: 2.1em;
    font-weight: 500;
}

section #titulo {
    display: flex;
    flex-wrap: wrap;
}

section #titulo .titulo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

section #titulo .titulo .tipo_formacion {
    padding: 0px 0px 0px 10px;
    max-height: 2.55em;
    overflow-y: hidden;
}

section .descripcion {
    display: flex;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: hidden;
}

section .descripcion ul,
section .descripcion ol {
    padding: 10px 10px 10px 20px;
    list-style: disc;
}

section .descripcion ul li,
section .descripcion ol li {
    color: var(--primary-text);
    padding: 0px 0px 5px 0px;
}

section #descripcion .contenedor_descripcion {
    min-width: 100%;
}

section #titulo .opciones {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;
}

section #titulo .opciones .opcion {
    width: 15px;
    height: 15px;
    margin: 0px 10px 0px 0px;
    background-color: var(--primary-light);
    border-radius: var(--border-radius);
    cursor: pointer;
}

section .p-titulo {
    color: var(--secondary);
}

section .p-titulo:not(:first-child) {
    margin-top: 15px;
}

section #titulo .opciones .opcion.active {
    background-color: var(--secondary);
}

section #contenedor-fotografia {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

section #fotografia {
    width: 300px;
    height: 400px;
    border: 2px solid var(--primary-light);
    border-radius: var(--border-radius);
    position: relative;
}

section #fotografia #btn_descargar_cv {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    background-color: var(--secondary);
    color: var(--secondary-text);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

section #fotografia #btn_descargar_cv i {
    padding: 0px 10px 0px 0px;
    color: var(--secondary-text);
}

section .slider .contenedor {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
}

section .slider .contenedor .primario {
    min-height: 405px;
    max-height: 405px;
}

section .slider .contenedor .secundario .contenedor-foto {
    min-height: 282px;
    max-height: 282px;
}

section .slider .contenedor .primario,
section .slider .contenedor .secundario .contenedor-foto {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

section .slider .contenedor .primario img,
section .slider .contenedor .secundario .contenedor-foto img {
    max-width: 100%;
    padding: 30px;
    border-radius: var(--border-radius);
    opacity: 0.5;
    transition: all .5s;
}

section .slider .contenedor .primario img.active,
section .slider .contenedor .secundario .contenedor-foto img.active {
    max-width: 100%;
    padding: 10px;
    opacity: 1;
}

section .slider .contenedor .secundario .opciones-slider {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

section .slider .contenedor .secundario .opciones-slider button {
    background-color: var(--primary-light);
    color: var(--primary-text);
    border: none;
    border-radius: var(--btn-radius);
    padding: 10px;
    cursor: pointer;
}

section .slider .contenedor .secundario .opciones-slider button:hover {
    background-color: var(--secondary);
    color: var(--secondary-text);
}