.main {
    position: relative;
    background-image: url('../img/background-main.jpg');
    background-size: cover;
    background-position: bottom;
}

.main .foto {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    background-color: white;
    z-index: 3;
    border-radius: 50%;
}

.main .nombre {
    padding: 0px 0px 0px 50px;
}

.proyects-main {
    background-image: url('../img/Web\ 1920\ –\ 1.jpg');
    background-position: center;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: inherit;
    background: linear-gradient(to right, rgba(61, 111, 177, 1), rgba(48, 94, 153, 0.6));
}

.main h1 {
    position: relative;
    z-index: 2;
    color: white;
    padding: 0;
}

.card {
    min-width: 22.5%;
    max-width: 22.5%;
    min-height: 300px;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    position: relative;
    left: 200px;
    opacity: 0;
    margin: 0px 3.33% 2.5% 0px;
    transition: all .3s;
}

.card-show {
    left: 0px;
    opacity: 1;
}

.card:nth-child(4n) {
    margin: 0px 0% 2.5% 0px;
}

.card:hover .name-icon {
    height: 100%;
    justify-content: center;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.7);
}

.card:hover .name {
    padding: 0;
    text-align: center;
}

.card:hover .name h5 {
    padding: 15px 0px 0px 0px;
    color: var(--background-aux);
}

.card:hover .icon {
    min-width: 35%;
    max-width: 35%;
}

.card-2 {
    max-width: 47.5%;
    min-width: 47.5%;
    margin: 0px 4% 2.5% 0px;
}

.card-2:nth-child(2n) {
    margin: 0px 0% 2.5% 0px;
} 

.card-2 .icon {
    max-width: 30px;
    min-width: 30px;
}

.card-2:hover .icon {
    min-width: 20%;
    max-width: 20%;
}

.card .image {
    height: 100%;
}

.card .image-xd {
    background-image: url(../img/bg-xd.jpg);
    background-size: cover;
    background-position: center;
}

.card .image-figma {
    background-image: url(../img/bg-Figma.png);
    background-size: cover;
    background-position: center;
}

.card .image-html {
    background-image: url(../img/bg-xd.webp);
    background-size: cover;
    background-position: center;
}

.card .image-css {
    background-image: url(../img/bg-css.png);
    background-size: cover;
    background-position: left;
}

.card .image-sass {
    background-image: url(../img/glasses.svg);
    background-size: cover;
    background-position: center;
}

.card .image-bootstrap {
    background-image: url(../img/bg-bootstrap-themes.png);
    background-size: cover;
    background-position: right;
}

.card .image-javascript {
    background-image: url(../img/bg-javascript.webp);
    background-size: cover;
    background-position: center;
}

.card .image-jquery {
    background-image: url(../img/bg-javascript.png);
    background-size: cover;
    background-position: center;
}

.card .image-php {
    background-image: url(../img/bg-php.jpg);
    background-size: cover;
    background-position: left;
}

.card .image-sql {
    background-image: url(../img/bg-mysql.png);
    background-size: cover;
    background-position: right;
}

.card .image-github {
    background-image: url(../img/github.png);
    background-size: cover;
    background-position: center;
}

.card .image-vscode {
    background-image: url(../img/450_1000.png);
    background-size: cover;
    background-position: center;
}

.card .image-netbeans {
    background-image: url(../img/bg-NetBeans.png);
    background-size: cover;
    background-position: center;
}

.card .image-java {
    background-image: url(../img/bg-java.jpg);
    background-size: cover;
    background-position: center;
}

.card .name {
    padding: 0px 0px 0px 20px;
}

.card .name-icon {
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    height: 70px;
    bottom: 0;
    overflow: hidden;
    transition: all .3s;
}

.proyect {
    position: relative;
    transition: all .3s;
    left: 200px;
    opacity: 0;
}

.proyect-show {
    left: 0px;
    opacity: 1;
}

.modal {
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(24, 55, 95, 0.8);
    top: 0;
    left: 0;
    display: none;
}

.modal-show {
    position: fixed;
    display: block;
}

@media screen and (max-width: 768px) {
    .main {
        min-height: 100vh;
        max-height: 100vh;
        height: 100vh;
    }
    
    .proyects-main {
        min-height: 60vh;
        max-height: 60vh;
        height: 60vh;
    }

    .proyects-main div {
        margin: 0;
    }

    .main .foto {
        margin: auto;
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        height: 200px;
        max-height: 200px;
        min-height: 200px;
    }

    .main .nombre {
        padding: 30px 0px;
        text-align: center;
        margin: auto;
    }

    .card {
        min-width: 100%;
        max-width: 100%;
        margin: 0px 0% 5% 0px;
        box-shadow: none;
    }

    .card .name-icon .icon {
        min-width: 0px;
        max-width: 0px;
    }

    .card:hover .icon {
        min-width: 35%;
        max-width: 35%;
    }
    
    .card .name-icon .name {
        text-align: center;
    }

    .card .name-icon .name {
        padding: 0px;
    }
}